@inherits LayoutComponentBase
@using Frontend.Services
@inject UserState UserState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-3">
            @if (UserState.IsLoggedIn){
                <span>Welcome, @UserState.CurrentUser.firstName</span>
            }
        </div>

        <article class="content px-3">
            @Body
        </article>
    </main>
</div>
