html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.1;
    /* background-image: linear-gradient(rgb(5, 39, 103) 0%, #080d35); */
}

.form {
    width: 80%;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }
}

.form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: #000f;
    border: #0000 solid 1px;
    color: #fff;
}


.update {
    padding: 30px !important;
    border-radius: 7px;
    border: none;
    background: #ffff;
    border: 1px solid #5552;
    box-shadow:
        inset 5px 5px 10px #0001,
        inset -5px -5px 10px #0003,
        5px 5px 20px #0002;
    box-shadow:
        inset -1px -1px 5px #0001,
        1px 1px 10px #0002;
}

.update * {
    color: #000f;
}

/* .update,
.users {
    margin: 0px 0;
    padding: 50px !important;
    border-radius: 35px;
    background: linear-gradient(45deg, #000f, rgba(64, 65, 78, 0.8), #000f, rgba(55, 55, 65, 0.8), #000f);
    box-shadow:
        inset 10px 10px 10px #fff2,
        inset -10px -10px 10px #0007,
        5px 5px 20px #0007;
}

.list-group-item {
    color: #fff;
    border-radius: 10px;
    background: #0000;
    border: 1px solid #fff2;
}

body {
    background: #000e;
}

.update * {
    color: #fffe;
} */



h1:focus {
    outline: none;
}

a,
.btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

code {
    color: #c02d76;
}